<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<div class="text-center">

    <a class="btn btn-primary" href="/homeQuestions">Questions</a>
    <br/> <br/><br/>
    <a class="btn btn-primary" href="/homeParticipant">Participant</a>
    <br/> <br/><br/>
    <a class="btn btn-primary" href="/profil">Profil</a>
    <br/> <br/><br/>
    <a class="btn btn-primary" (click)="logout()">Deconnecter</a>
  </div>
